{% extends "layout.html" %}

{% block page_title %}
  Claim overview
{% endblock %}

{% block content %}

<main id="content" role="main">

  

        <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>

     <div class="grid-row">
     
      <div class="column-two-thirds">

          <main id="content" role="main">

          <h1 class="heading-large">
            Claim overview
          </h1>

          <table class="check-your-answers">

            <thead>
              <tr>
                <th colspan="2">
                  <h2 class="heading-medium">
                    Date
                  </h2>
                </th>
                <th>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  22 November to 26 November 2016
                </td>
                <td>
                  Travel
                </td>
                <td class="change-answer">
                  <a href="/payments-v1/single-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  29 November to 3 December 2016
                </td>
                <td>
                  Travel
                </td>
                <td class="change-answer">
                  <a href="/payments-v1/single-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
              <!-- <tr>
                <td>
                  Site of export
                </td>
                <td>
                  Site of export name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Site of export name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Importer
                </td>
                <td>
                  Importer name<br>
                  First line of address<br>
                  Second line of address<br>
                  Contact: Contact Name<br>
                  Tel: 01234 567 890<br>
                  Email: email@email.com
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Importer name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Recovery facilities
                </td>
                <td>
                  Recovery facilities name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Recovery facilities name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Recovery site
                </td>
                <td>
                  Recovery site name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Recovery site name</span>
                  </a>
                </td>
              </tr> -->
            </tbody>
          </table>

          <div class="form-group">
            <p><a href="/payments-v1/claim-type">Add another claim</a></p>
          </div>
            
          <h2 class="heading-medium">Now send your application</h2>

          <p>Your application will be sent to your employer to verify your claim</p>

          <div class="form-group notice">
            <i class="icon icon-important">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
            </strong>
          </div>

          <div class="form-group">
            <a href="/payments-v1/what-happens-next" class="button">Accept and send application</a>
          </div>

      </main>

                  
    </div>
         
         <div class="column-one-third">

         </div>

  </div>    
</main>

{% endblock %}
