{% extends "layout.html" %}

{% block page_title %}
  Your details
{% endblock %}

{% block content %}

<main id="content" role="main">

 <!-- Full name -->
        <h1 class="form-title heading-large">Access to work</h1>

  <h2 class="heading-medium">Use this service to&colon;</h2>

  <ul class="list-bullet">
      <li>Add your details</li>
      <li>Make a cliam</li>
      <!-- <li>????</li> -->
  </ul>

  <a class="button button-start" href="/trials/user-deatils" role="button">Start</a>

{% endblock %}
